<div class="entities-list">
  <%= form_tag project_entities_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control sticky-search",
      placeholder: "type keyword"
    %>
  <% end %>
  <ul class="list-group list-group-flush entities-list-item">
    <% @entities.each do |entity, occurrence| %>
      <%= link_to project_entities_path(params[:project_id], entity: entity ) do %>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <%= entity %>
          <span class="badge badge-primary badge-pill"><%= occurrence %></span>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
