<div class="entities-list js-entities-list" style="margin-top: auto;">
  <%= form_tag project_entities_path, method: :get, autocomplete:'off' do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control sticky-search js-search-input",
      placeholder: "type keyword"
    %>
  <% end %>
  <ul class="list-group list-group-flush entities-list-item">
    <% @entities.each do |entity, occurrence| %>
      <%= link_to project_entities_path(params[:project_id], entity: entity ) do %>
        <li class="list-group-item flex-entity justify-content-between align-items-center js-entity-item" data-entity="<%= entity%>">
          <%= entity %>
          <% result =  Entity.find_by(name: entity).avg_sentiment %>
          <% if result > 1 %>
            <h6><span class="badge badge-success badge-pill black-text"><%= occurrence %></span></h6>
          <% elsif result < 1 && result > 0 %>
            <h6><span class="badge badge-primary badge-pill"><%= occurrence %></span></h6>
          <% else %>
            <h6><span class="badge badge-danger badge-pill"><%= occurrence %></span></h6>
          <% end %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
