<% content_for :title, "Common words" %>

<div class="layout-tour-intro">
  <p>Let's take a closer look. The keywords mentioned with the highest average score were
    <span class="number-highlight number-highlight-positive">
    <%= @firstHighest.name %>
    </span> and <span class="number-highlight number-highlight-positive">
    <%= @secondHighest.name %>
    </span>,
      while those with the lowest were
    <span class="number-highlight number-highlight-negative">
    <%= @firstLowest.name %>
    </span> and <span class="number-highlight number-highlight-negative">
    <%= @secondLowest.name %>
    </span>.
  </p>
</div>
  <div class="entity-chart-graph">
  <%= render 'graphs/sentiment_score_average' %>
  </div>

