<div class="layout-tour-intro">
  <p>Let's do an overview! </p>
  <p> The entities mentioned in reviews with the highest average sentiment score are
    <span class="number-highlight number-highlight-positive">
    <%= Entity.top_highest_sentiment_with_avgs_for_project(params[:project_id]).first[0]%>
    </span> and <span class="number-highlight number-highlight-positive">
    <%= Entity.top_highest_sentiment_with_avgs_for_project(params[:project_id]).second[0]%>
    </span>.
    <br>
      While those with the lowest average sentiment were
    <span class="number-highlight number-highlight-negative">
    <%= Entity.top_lowest_sentiment_with_avgs_for_project(params[:project_id]).first[0]%>
    </span> and <span class="number-highlight number-highlight-negative">
    <%= Entity.top_lowest_sentiment_with_avgs_for_project(params[:project_id]).second[0]%>
    </span>.
  </p>

</div>
  <%= render 'graphs/sentiment_score_average' %>
