<% content_for :title, "Keyword insights" %>
<% javascript_include_tag "https://code.jquery.com/jquery-3.4.1.min.js" %>

<% if @entity %>
  <div class="layout-tour-intro">
    <p>Over time, the score for the keyword <span class="entity-name-js">"<%= @entity.name.upcase %>"</span> has changed from
      <% if @first_word_score > 0 %>
        <span class="number-highlight number-highlight-positive">
          <%= @first_word_score %></span>
      <% else %>
        <span class="number-highlight number-highlight-negative">
          <%= @first_word_score %></span>
      <% end %>
      in <%= @first_month %> to
       <% if @last_word_score > 0 %>
        <span class="number-highlight number-highlight-positive">
          <%= @last_word_score %></span>
      <% else %>
        <span class="number-highlight number-highlight-negative">
          <%= @last_word_score %></span>
      <% end %>
      in <%= @last_month %>.
    <span class="entity-name-js">"<%= @entity.name.upcase %>"</span> was mentioned <%= @entity.occurrences %> times in this period! </p>
    <p>TESTING
      <span id="first-score"></span>
      <span id="last-score"></span>
    </p>
  </div>
<% end %>

<div class="entity-chart">
  <%= render 'entities_list' %>
  <div class="entity-chart-graph">
    <div class="graph-container">
      <%= render 'graphs/average_sentiment_score_over_time' %>
    </div>
  </div>
</div>

<script>

chart = Chartkick.charts["chart-1"].chart

document.getElementById("entities-list-data").addEventListener("click", function(event) {

  event.preventDefault();

  var entityName = event.target.getAttribute('data-entity');

  $.ajax({
    dataType: "json",
    url: '/projects/157/entities?entity=' + entityName,
    success: function(newData) {

      // clean out the chart data
      chart.data.datasets[0].data = []

      // clean out the chart labels
      chart.data.labels = []

      $.each(newData, function(key, value) {
        chart.data.datasets[0].data.push(value);
        chart.data.labels.push(key);
      });

      chart.update();

      // Setting first score
      let classNameFirst = 'number-highlight';
      if (chart.data.datasets[0].data[0] > 0) {
        classNameFirst += ' number-highlight-positive';
      } else {
        classNameFirst += ' number-highlight-negative';
      };

      document.getElementById("first-score").innerHTML = `<span class="${classNameFirst}">${chart.data.datasets[0].data[0]}</span>`;

      // Setting last score
      let lastScore = chart.data.datasets[0].data[chart.data.datasets[0].data.length - 1];

      let classNameLast = 'number-highlight';
      if (lastScore > 0) {
        classNameLast += ' number-highlight-positive';
      } else {
        classNameLast += ' number-highlight-negative';
      };

      document.getElementById("last-score").innerHTML = `<span class="${classNameLast}">${lastScore.toFixed(2)}</span>`;

      // Setting entity name
      document.querySelectorAll(".entity-name-js").forEach((e) => {
        e.innerHTML = `"${entityName.toUpperCase()}"`;
      });
    },
    error: function(error) {
      alert(error);
    }
  });

});


</script>
