<% content_for :title, "Keyword insights" %>


<% if @entity %>
  <div class="layout-tour-intro">
    <p>Over time, the score for the keyword "<%= params[:entity] %>" has changed from
      <% if @first_word_score > 0 %>
        <span class="number-highlight number-highlight-positive">
          <%= @first_word_score %></span>
      <% else %>
        <span class="number-highlight number-highlight-negative">
          <%= @first_word_score %></span>
      <% end %>
      in <%= @first_month %> to
       <% if @last_word_score > 0 %>
        <span class="number-highlight number-highlight-positive">
          <%= @last_word_score %></span>
      <% else %>
        <span class="number-highlight number-highlight-negative">
          <%= @last_word_score %></span>
      <% end %>
      in <%= @last_month %>.
    "<%= @entity.name.capitalize %>" was mentioned <%= @entity.occurrences %> times in this period! </p>
  </div>
<% end %>

<div class="entity-chart">
  <%= render 'entities_list' %>
  <div class="entity-chart-graph">
    <div class="graph-container">
      <%= render 'graphs/average_sentiment_score_over_time' %>
    </div>
  </div>
</div>
