<h1>Pages#test</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= render 'graphs/reviews_by_month' %>

<%= render 'graphs/average_sentiment_score_over_time' %>

<%= render 'graphs/top_highest_sentiment' %>

<%= render 'graphs/top_lowest_sentiment' %>

<%= render 'graphs/average_sentiment_and_number_of_mentions' %>


