<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">x</button>
  <h4 class="modal-title" id="myModalLabel">Modal title</h4>
</div>
<div class="modal-body">
  <%= simple_form_for @project do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="form-inputs">
    <%= f.input :project_name %>
  </div>
  <div class="form-inputs">
    <%= f.input :description %>
  </div>
  <div class="form-actions">
    <%= f.file_field :reviews_csv, as: :file %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
</div>
<div class="modal-footer">
  <button class="btn btn-primary">Save</button>
</div>
