<% content_for :title, "Conclusion" %>

<div class="layout-tour-intro">

  <h4> I hope you enjoyed your data tour!</h4>
  <br>
  <p> From all the <strong><%= Review.current_project_reviews(params[:project_id]) %> reviews</strong> submitted, most of them are
    <%result = Review.total_reviews_avg_sentiment(params[:project_id]) %>
    <% if result > 0 %>
    <span class="number-highlight-bigger number-highlight-bigger-positive"><%= "positive" %></span>
    <% else %>
    <span class="number-highlight-bigger number-highlight-bigger-negative"><%= "negative" %></span>
    <% end %>
    with an average sentiment score of
    <% if result > 0 %>
        <span class="number-highlight number-highlight-positive">
          <%= result %></span>
      <% else %>
        <span class="number-highlight number-highlight-negative">
          <%= result %>.</span>
      <% end %></p>
  <br>
  <p>Here's what people felt most strongly about!</p>
  <br>
  <div class="recommendations-cards">
    <div class="card-category-reccomendations">
      <img class="card-recommendatios-happy-jeti avatar-reccomendations" alt="avatar" src="<%= image_path("happy body.svg") %>" />
      <p>Most positive</p>
      <div class="mentions">
        <% Entity.top_highest_sentiment_with_avgs_for_project(params[:project_id]).each do |e| %>
        <span class="number-highlight-positive-mentions">
          <%= e.name %>
        </span>
        <% end %>
      </div>
    </div>

    <div class="card-category-reccomendations">
      <img class="card-recommendatios-angry-jeti avatar-reccomendations" alt="avatar" src="<%= image_path("angry body.svg") %>" />
      <p>Most negative</p>
      <div class="mentions">
        <% Entity.top_lowest_sentiment_with_avgs_for_project(params[:project_id]).each do |e| %>
        <span class="number-highlight-negative-mentions">
          <%= e.name %>
        </span>
        <% end %>
      </div>
    </div>
</div>




</div>
