<% content_for :title, "Reviews" %>

<div class="review-index">
  <div class="entities-list js-entities-list" id="entities-list-review">
    <%= form_tag project_reviews_path(params[:project_id]), method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control sticky-search js-search-input",
      placeholder: "type keyword"
    %>
    <% end %>
    <ul class="list-group list-group-flush entities-list-item">
      <% @project.entities.uniq { |entity| entity.name }.sort_by{|entity| entity.occurrences}.reverse!.each do |entity| %>
        <%= link_to project_reviews_path(@project, :keyword => entity.name) do %>
          <li class="list-group-item flex-entity justify-content-between align-items-center js-entity-item" data-entity="<%= entity.name %>">
            <%= entity.name %>
            <% result =  entity.avg_sentiment %>
            <% if result > 1 %>
              <h6><span class="badge badge-success badge-pill black-text"><%= entity.occurrences %></span></h6>
            <% elsif result < 1 && result > 0 %>
              <h6><span class="badge badge-primary badge-pill"><%= entity.occurrences %></span></h6>
            <% else %>
              <h6><span class="badge badge-danger badge-pill"><%= entity.occurrences %></span></h6>
            <% end %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>

  <table class="table-borderless">
    <thead>
      <tr>
        <th scope="col">Keyword</th>
      </tr>
    </thead>
    <tbody>
      <% @reviews.each do |review| %>
      <tr>
        <td> <i class="fas fa-quote-left"></i> <%= review.comments %> <i class="fas fa-quote-right"></i> <br><span style="color:gray">- <%= review.date %></span></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
