<div class="enties">
  <% @popular_entities_in_project.each do  |entity| %>
  <%= link_to "#{entity.name} (#{entity.occurrences})", project_reviews_path(@project, :entity_id => entity.id), :class => 'number-highlight number-highlight-positive'  %>
  <% end %>
  <button type="button" class="btn btn-lights" data-toggle="modal" data-target="#all-entities-modal">
    More words
  </button>
</div>
<div class="modal" tabindex="-1" role="dialog" id="all-entities-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Filter by entity</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <% @all_entities_in_project.each do  |entity| %>
        <%= link_to "#{entity.name} (#{entity.occurrences})", project_reviews_path(@project, :entity_id => entity.id)  %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Listing</th>
      <th scope="col">Review</th>
    </tr>
  </thead>
  <tbody>
     <% @reviews.each do |review| %>
    <tr>
      <td> <%= review.date %></td>
      <td> <%= review.listing_id %> </td>
      <td> <%= review.comments %></td>
    </tr>
    <% end %>
  </tbody>
</table>

