<% content_for :title, "Reviews" %>
<div class="review-index">
  <div class="entities-list" id="entities-list-review">
      <%= form_tag project_reviews_path(params[:project_id]), method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control sticky-search",
        placeholder: "type keyword"
      %>
    <% end %>
    <ul class="list-group list-group-flush entities-list-item">
      <% @all_entities_in_project.each do  |entity| %>
      <%= link_to project_reviews_path(@project, :entity_id => entity.id) do %>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <%= entity.name %>
            <% result =  entity.avg_sentiment %>
            <% if result > 1 %>
              <h6><span class="badge badge-success badge-pill black-text"><%= entity.occurrences %></span></h6>
            <% elsif result < 1 && result > 0 %>
              <h6><span class="badge badge-primary badge-pill"><%= entity.occurrences %></span></h6>
            <% else %>
              <h6><span class="badge badge-danger badge-pill"><%= entity.occurrences %></span></h6>
            <% end %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>

  <table class="table-borderless">
    <thead>
      <tr>
        <th scope="col">Keyword</th>
      </tr>
    </thead>
    <tbody>
      <% @reviews.each do |review| %>
      <tr>
        <td> <i class="fas fa-quote-left"></i> <%= review.comments %> <i class="fas fa-quote-right"></i> <br> <br>  <%= review.date %> </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>


