<!DOCTYPE html>
<html>
  <%= render 'shared/page-head' %>
  <body class="has-navbar">
    <%= render 'shared/navbar' %>
    <%= javascript_include_tag 'application' %>
    <%= yield %>
    <%= javascript_pack_tag 'application' %>
    <%= render 'layouts/messages' %>
  </body>
</html>
