<!DOCTYPE html>
<html>
  <%= render 'shared/page-head' %>
  <body class="has-navbar">
    <%= render 'shared/navbar' %>
    <%= javascript_include_tag 'application' %>
    <%= yield %>
    <%= javascript_pack_tag 'application' %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
