<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TODO</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <%= javascript_include_tag 'application' %>
    <%= yield %>
    <%= javascript_pack_tag 'application' %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
  <script>
    function openNav() {
      document.getElementById("mySidebar").style.width = "240px";
      document.getElementById("main").style.marginLeft = "240px";
    }

    function closeNav() {
      document.getElementById("mySidebar").style.width = "50px";
      document.getElementById("main").style.marginLeft= "0px";
    }
</script>
</html>
