<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= "TEXTU | #{yield(:title)}" %></title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->

    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <%= favicon_link_tag %>

    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:title" content="<%= meta_title %>">
    <meta name="twitter:description" content="<%= meta_description %>">
    <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:image:src" content="<%= meta_image %>">

  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= javascript_include_tag 'application' %>
    <div class="layout-tour">
      <div class="layout-tour-navigator">
        <img src="<%= image_path("happy.svg") %>" class="navigator-mascot" alt="">
        <div class="layout-tour-menu">
          <h3 class="layout-tour-menu-title">Data Tour</h3>
          <ol class="layout-tour-menu-items">
            <li>
            <%= link_to "Projects",projects_path,
                                   class: "#{current? "layout-tour-menu-item-active",
                                   projects_path}"  %>
            </li>
            <li>
            <%= link_to "Reviews", project_reviews_path(params[:project_id]),
                                   class: "#{current? "layout-tour-menu-item-active",
                                   project_reviews_path(params[:project_id])}"  %>
            </li>
            <li>
            <%= link_to "Reviews traffic", project_reviews_by_month_graph_path(params[:project_id]),
                                          class: "#{current? "layout-tour-menu-item-active",
                                          project_reviews_by_month_graph_path(params[:project_id])}"  %>
            </li>
            <li>
            <%= link_to "Common words", project_entities_data_path,
                                      class: "#{current? "layout-tour-menu-item-active",
                                      project_entities_data_path}"  %>
            </li>
            <li>
            <%= link_to "Keyword insights", project_entities_path,
                                      class: "#{current? "layout-tour-menu-item-active",
                                      project_entities_path}"  %>
            </li>
            <li>
            <%= link_to "Conclusion", project_conclusion_path(params[:project_id]),
                                      class: "#{current? "layout-tour-menu-item-active",
                                      project_conclusion_path(params[:project_id])}"  %>
            </li>
          </ol>
        </div>
      </div>
      <div class="layout-tour-content">
    <h1 class="layout-tour-title"><%= yield(:title) %></h1>

        <div class="layout-tour-content-inner">
              <%= yield %>

        </div>
      </div>
    </div>
    <%= javascript_pack_tag 'application' %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="footer">
      <div class="footer-links">
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
      <div class="footer-copyright">
        @Textu
      </div>
    </div>
  </body>
</html>
